body {
    font-family: Arial, sans-serif;
    background-color: #c3ce5d;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 600px;
    background-color: #c8d4d3;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h2 {
    text-align: center;
    color: #333;
}

#todo-list {
    list-style: none;
    padding: 0;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    background-color: #a1ad8f;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: 500;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.task label {
    flex-grow: 1;
    margin-left: 10px;
}

.completed {
    text-decoration: line-through;
    color: #888;
}

input[type="text"] {
    width: 70%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 8px 15px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

